
/*
@media (max-width: 930px) { /* это будет показано при разрешении монитора до 930 пикселей 
  .content-wrapper {padding: 0;} /* основное содержимое занимает всё пространство окна 
}
*/

@media screen and (max-width: 600px) {
    .nav a{
        float: none;
        width: 100%;
    }
}


.nav a {
    float:left;
    color:white;
    text-align: center;
    padding: 5px;
    
    display: block;
}

@media screen and (max-width: 600px) {
    .flex-container{
        float: none;
        width: 100%;
        flex-direction:column;
    }

}
.flex-container{
    display: -webkit-flex;
   
    width: 600px;
    margin: 10px auto;
    background: gray;
    border-radius: 4px;
    
    
}

.flex-container > div {
        padding: 16px;
        margin: 16px;
        background: gray;
        
        border-radius: 4px;
        color: #fff;
        text-align: center;

}

.flex-container1{
    display: -webkit-flex;
    display: flex;
    width: 600px;
    margin: 20px auto;
    background: gray;
    border-radius: 4px;

    
}

@media screen and (max-width: 600px) {
    .flex-container1{
        float: none;
        width: 100%;
        flex-direction:column;
    }

}

.flex-container1 > div {
        padding: 16px;
        margin: 16px;
        background: gray;
        
        border-radius: 4px;
        color: #fff;
        text-align: center;
        width: 50%;

}

@media screen and (max-width: 600px) {
    .flex-container2{
        float: none;
        width: 100%;
        flex-direction:column;
    }

}
.flex-container2{
    display: -webkit-flex;
    display: flex;
    width: 600px;
    margin: 20px auto;
    background: gray;
    border-radius: 4px;
    
    
}



.flex-container2 > div {
        padding: 16px;
        margin: 16px;
        background: gray;
        width: 50%;
        border-radius: 4px;
        color: #fff;
        text-align: center;

}


